<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SumoTurtles.GameConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SumoTurtles.GameConfig>
            <setting name="minTutleSpin" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="maxTutleSpin" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="animationMilliSecondsPerFrame" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="minTurtleForce" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="maxTurtleForce" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="turtleRadius" serializeAs="String">
                <value>32</value>
            </setting>
        </SumoTurtles.GameConfig>
    </applicationSettings>
</configuration>